# torch # Any version > 2.0
moviepy==1.0.3
decorator==4.0.2 # 4.4.2 is not compatible with moviepy
numpy<2
yt-dlp
ffmpeg-python
transformers==4.52.4 # Fix Qwen2.5 bug
peft
flash-attn
decord
datasets
deepspeed
trl
scikit-image
pycocotools
hydra-core
accelerate
wandb
pillow
iopath
qwen-vl-utils